@import "vars";
@import "mixins";

.container {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $c-backgroung;
}
.auth {
  //min-height: 100vh;
  display: flex;
  justify-content: space-between;
  //align-items: stretch;
  gap: 32px;
  padding: 32px;
  max-width: 1440px;
  max-height: 960px;
  //margin-inline: auto;
  border-radius: 44px;
  background: $background;
  //margin: 20px;
  @include desktop-small {
    padding: 32px 120px 65px 120px;
    //gap: 0;
  }
  @include mobile {
    padding: 24px 24px 65px 24px;
    //gap: 0;
  }
}

.auth-info {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  @include desktop-small {
    align-items: center;
    flex-shrink: 1;
  }
  //align-content: space-between;
}

.form {
  flex-grow: 1;
  display: grid;
  align-items: center;
  //margin: 32px 0;
  @include desktop {
    //margin: 40px 0 0 0;
  }
  
}

.auth-img {
  max-width: 768px;
  width: 100%;

  @include desktop-small {
    display: none;
  }
  img {
    max-width: 100%;
    //max-height: 896px;
    //height: auto;
    object-fit: cover;
  }
}
